/******************** Fontes usadas */
@import url("https://fonts.cdnfonts.com/css/tt-hoves-pro-trial");
@import url("clash-grotesk.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-grande: "TT Hoves Pro Trial", sans-serif;
    --font-pequena: "ClashGrotesk-Light", sans-serif;
    --color-black: #000;
    --color-gray1: #3d4143;
    --color-gray2: #9c9d9d;
    --color-white: #f6f6f6;
    --color-white2: #dad7d7;
    --color-destaque2: #728e6f;
    --color-blue: #6573f8;
    --color-blue1: #100242;
    --color-blue2: #002ab3;
    --color-sol: #f39c12;
    --color-lua: #777777;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray1);
    border-radius: 20px;
    border: 3px solid var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray2);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: radial-gradient(#100242, var(--color-black));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pequena);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s ease-out;
    transition: .8s;
}

body.white{
    background-image: radial-gradient(#00b1e78f, var(--color-white));
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Botões fixos*/
.fixed-button {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

#backToTop {
    bottom: 20px;
    left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#whatsappButton {
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
    animation: pulse 2s infinite;
}

#whatsappButton i {
    font-size: 24px;
    color: #fff;
}

.fixed-button i {
    font-size: 24px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*************** HEADER *****/
.header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 1px 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: top 0.3s ease-in-out;
    background-color: transparent;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}


.logo {
    width: 100%;
}

.logo img {
    width: 150px;
}



.menu-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.menu-icons a {
    color: var(--color-white);
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
.menu-icons a.white{
    color: var(--color-black);
    transition: .5s;
}

.menu-icons a:hover {
    color: var(--color-blue);
}

.label {
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    width: 50px;
    height: 26px;
    transform: scale(1.5);
    transition: .5s;
}

.label.white {
    background-color: var(--color-gray1);
}

.ball {
    background-color: var(--color-blue);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.bi-sun-fill {
    color: var(--color-sol);
}
.bi-moon-fill{
    color: var(--color-lua);
}


/*************** INICIO *****/
.inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    z-index: 1;
    user-select: none;
}

.container-inicio {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .8s;
}

.container-inicio.white {
    color: var(--color-black);
}

.conteudo-inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.titulo-inicio {
    font-size: clamp(1rem, 2.5vw + 0.8rem, 3rem);
    font-family: var(--font-grande);
    font-weight: normal;
}

.destaque-inicio {
    font-weight: lighter;

    & span{
        color: var(--color-blue2);
    }
}

.paragrafo-inicio {
    font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
    max-width: 900px;
    color: var(--color-gray2);
    font-family: var(--font-pequena);
    transition: .5s;
}

.paragrafo-inicio.white{
    color: var(--color-gray1);
}

.complemento-inicio {
    position: absolute;
    bottom: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: var(--color-gray2);
    transition: .8s;
}
.complemento-inicio.white {
    color: var(--color-gray1);
}

/*************** SOBRE *****/
.sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    z-index: 1;
    user-select: none;
    overflow: visible;
}

.container-sobre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headline-sobre {
    height: 30%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.headline-scroll {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.headline-scroll span {
    font-family: var(--font-grande);
    font-size: 5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.headline-scroll .divisor {
    width: 20px;
    height: 20px;
    background-color: var(--color-gray2);
    border-radius: 50%;
    margin: 0 20px;
}

.headline-scroll .bold {
    font-weight: bold;
    color: var(--color-white);
}

.headline-scroll .light {
    font-weight: lighter;
    color: var(--color-gray2);
}

.conteudo-sobre {
    position: relative;
    top: 30%;
    width: 100%;
    height: 70%;
    display: flex;
}

.left-sobre {
    color: var(--color-white);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3rem;
}

.left-sobre.white {
    color: var(--color-black);
   
}

.textos-sobre h1 {
    font-size: 3rem;
    font-family: var(--font-grande);
}

.textos-sobre p {
    font-size: 1.5rem;
    color: var(--color-gray2);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1.5px;
}

.textos-sobre.white {
    & p{
        color: var(--color-gray1);
    }
}

.redes-sociais {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.redes-sociais a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--color-gray2);
    font-size: 1.5rem;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
}

.redes-sociais.white {
    & a {
        color: var(--color-black);
    }
}

.right-sobre {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-sobre {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
}

.complemento-sobre {
    width: auto;
    z-index: 0;
}

.complemento-sobre img {
    
    position: relative;
    left: 60px;
    top: 50px;
    width: 90%;
    z-index: 1000;
    animation: rotate 20s linear infinite;
    border-radius: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.imagem-sobre img {
    width: 90%;
    z-index: 99;
    border-radius: 45%;
}

/*************** SKILLS *****/
.skills {
    width: 100%;
    padding: 7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headline-skills {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-headline-skills h2 {
    font-family: var(--font-grande);
    font-size: 3rem;
}

.text-headline-skills p {
    font-size: 1.5rem;
    color: var(--color-gray2);
    font-weight: 500;
    line-height: 1.4;
    max-width: 900px;
}

.conteudo-skills {
    display: grid;
    gap: 1rem;
    width: 100%;
}

.box-skills {
    border: 1px solid hsla(0, 0%, 100%, 0.15);
    border-radius: 20px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    padding: 2rem;
    gap: 1.5rem;
}

.box-skills i {
    font-size: 4rem;
    color: var(--color-white);
}

.box-skills h3 {
    font-size: 1.8rem;
}

.box-skills p {
    color: var(--color-gray2);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
}

@media (min-width: 600px) {
    .conteudo-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .conteudo-skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*************** SERVIÇOS *****/
.servicos {
    background-color: #010622;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.container-servicos {
    background-color: transparent;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headline-servicos {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-servicos {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.titulo-servicos h1 {
    color: var(--color-white2);
    width: 50%;
    font-size: 8vw;
    font-weight: lighter;
    font-family: var(--font-grande);
}

.descricao-servicos {
    width: 50%;
    font-size: 2rem;
    text-align: right;
    line-height: 1.4;
    letter-spacing: 1.5px;
    color: var(--color-white2);
}

.servicos-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0rem;
}

.card-servicos {
    border: 1px solid hsla(0, 0%, 100%, 0.35);
    max-width: 95%;
    min-height: 180px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.card-servicos-left {
    margin-left: 5%;
    border: 1px solid hsla(0, 0%, 100%, 0.35);
    width: 95%;
    min-height: 180px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 7%;
}

.card-titulo {
    width: 68%;
    font-size: clamp(0.8rem, 2.5vw + 0.4rem, 2rem);
    font-family: var(--font-pequena);
    font-weight: normal;
    color: var(--color-white2);
}

.card-icon {
    width: 25%;
    max-width: 120px;
    height: 60px;
    border: 1px solid hsla(0, 0%, 100%, 0.35);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-icon i {
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: -7px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; 
    background-image: radial-gradient(#100242, var(--color-black));
    transition: .8s;
}

#particles-js.white{
    background-image: radial-gradient(#00b1e78f, var(--color-white));
}

